/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Italianno&family=VT323&display=swap');

/* All Elements */
*,
*::before,
*::after {
margin:0;
padding: 0;
box-sizing:border-box;
background-color:black !important;
}

/* Navbar and Logo Styling */
.Logo {

    text-align:center;
    color:white;
    font-family: "Italianno", cursive;
  font-weight: 400;
  font-style: normal;
}

.nav a {

    color:white !important;

}
.nav-link {

    color:white !important;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;

}

/* Landing Page Styling */

.LandingPage {
    display: flex;
    justify-content: flex-end; 
    align-items: center; 
  }
  
  .Headline {
    text-align: center;
    color: white;
    font-family: "Cormorant Garamond", serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .Headline :is(h1, h2, h3, h4, h5) {
    font-family: "Cormorant Garamond", serif;
    font-weight: 500;
    font-style: normal;
  
  }
  #HeadBtn {
    color: white;
    padding: 10px;
    border: 1px solid white;
    margin-top: 20px;
    &:hover {
      text-decoration: underline;
    }
  }
  
  .LandingPhoto {
    width: 40.625rem;
    height: 58rem;
    overflow: hidden; 
  }
  
  .LandingPhoto img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }


/* Top Content Styling */

h2 {

color:white !important;
text-align:center;
font-family:Arial, Helvetica, sans-serif;
font-weight: 700 !important;
font-style: normal;
}
h5 {

    color:white !important;
    text-align:center;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 700 !important;
    font-style: normal;
}
.TopBoxBG {
    width:25rem;
    margin:auto;

}
.TopBoxBG img {
    width:24.3rem;
    height:23rem;
    margin-top:0.4rem;
  
  box-shadow:2px 2px 5px white;
  outline:1px solid white;
  }
  .TopBoxBG p {
    width:90%;
    margin:auto;
    text-align: justify;
    color:white;
    text-justify: inter-word;
    margin-top:0.9rem;
    word-wrap: break-word;
    padding:12px;
    font-family: "Cormorant Garamond", serif;
    font-weight: 400;
    font-style: normal;
  }


  /* Mid Content Styling */

  .MidContent {

    display:flex;
    justify-content: center;
    align-items:center;
  }
  .TextContent {

    width:50%;

  }
  .TextContent p {
    color:white;
    font-family: "Cormorant Garamond", serif;
    font-weight: 400;
    font-style: normal;
  text-align:center;

  }
  .ImageContent {

    width:44%;


  }
  .ImageContent img {
    object-fit:cover;
    object-position:center;
    width:40.625rem;
    height:25rem;
    position:relative;
    box-shadow:2px 2px 5px white;
  outline:1px solid white;
  margin-bottom:20px;


  }
  /* Near Bottom Content */
.RoLabel {




}
.RoHead {


}
.caroImg {

    width:90%;
    height:20px;

}

.RoImg {
    box-shadow:2px 2px 5px white;
  outline:1px solid white;
  margin-top:10px;

}
.carousel-caption {
padding:20px;
opacity:0.8;

}
.carousel-caption h5 {
    font-family:Arial, Helvetica, sans-serif;
    color:white;
    font-weight: 700;
    font-style: normal;
opacity:1
}
.carousel-indicators {
    opacity:0.0;
    }

    /* Products Styling */
.HomeProductsCon {
  
    margin:auto;
    text-align:center;
}
.HomeProductsCon p  {
    color:white;
    font-family: "Cormorant Garamond", serif;
    font-weight: 400;
    font-style: normal;

}
#ProBtn {
    color:white !important;
    padding:3px;
    border:1px solid white;
    width:50%;
    margin-bottom:10px;

    &:hover {

        text-decoration: underline;

    }
}
   .Product {
    width:25rem;
    margin:auto;

   }
   .Product h5 {
 margin-top:10px;

   }
.Product img {
    width:24.3rem;
    height:23rem;
  
  box-shadow:2px 2px 5px white;
  outline:1px solid white;

}
/* Bottom Content Styling */

.BottomCon {

    display:flex;
    flex-direction:column;
   justify-content: center;
}
.BottomCon p {
    font-family: "Cormorant Garamond", serif;
    font-weight: 400;
    font-style: normal;
    color:white;
    text-align: center;
    margin-top:10px;


}
#QuestionBtn {

    color:white !important;
    padding:3px;
    border:1px solid white;
    margin-bottom:10px;
    width:30%;
    margin:auto;

    &:hover {

        text-decoration: underline;

    }

}
/* About Styling */

.Legacy {

}

.LegacyContent {

    display:flex;

}
.Legacy h2 {
    font-family: "Cormorant Garamond", serif;
    font-weight: 700;
    font-style: italic;
    text-align:left;
   letter-spacing:.2rem;
  }

  .Legacy p {
    font-family: "Cormorant Garamond", serif;
  font-weight: 400;
  font-style: normal;
    text-align:left;
   letter-spacing:.1rem;
   color:white;
   width:40%;
  }
  .AboutLogo {
    text-align:center;
    color:white;
    font-family: "Italianno", cursive;
  font-weight: 400;
  font-style: normal;
  font-size:7.5rem;
  margin-top:-30px;
  margin-left:30px;
  letter-spacing:1.9rem;

  }
  #OwnerImg {
   
    width:50%;
    height:90%;
    margin:auto;
   
    }
.OwnerContent {
display:flex;
flex-direction:column;

}
.OwnerText {
    font-family: "Cormorant Garamond", serif;
    font-weight: 400;
    font-style: normal;
      text-align:left;
     letter-spacing:.1rem;
     color:white;
     margin-top:10px;
     width:50%;
     margin:auto;
}
.FindUsCon {

    text-align:center;

}
.FindUsCon p  {
    font-family: "Cormorant Garamond", serif;
    font-weight: 400;
    font-style: normal;
     letter-spacing:.1rem;
     color:white;

}
/* Contact Us Styling */
.LocationContent {
display:flex;
flex-direction:column;

}
.Contact h2 {
    font-family: "Cormorant Garamond", serif;
    font-weight: 700;
    font-style: italic;
    text-align:left;
   letter-spacing:.2rem;
   color:white;

}
.UnderText {

    text-align:center;
    color:white;
    font-family: "Cormorant Garamond", serif;
    font-weight: 400;
    font-style: normal;
}
.ContactUsText {

    margin:auto;
    width:50%;

}
textarea {

    resize:none;

}
.ContactBG {
opacity:0.9;
    background-color:black;
    padding:0.2rem;
    margin:auto;

}
.ContactBG h3 {

    text-decoration:underline;

}
#ContactForm {

    width:100%;
    margin:auto;
    outline:1px solid white;
    

}
input[type=text] {

    color:white;

}
input[type=email] {

    color:white;

}

input[type=number] {

    color:white;

}


select {

    color:white;

}
textarea {
  resize:none !important;
    color:white;
}

.BtnCenter {
display:flex;
flex-direction: column;
margin-top:0.1rem;
justify-content: center;

}
#VipBtn {

    width:25%;
    height:25%;
    border-radius:7px;
   margin:auto;
   padding:2px;
   border:1px solid white;
   color:white;
   margin-top:20px;
   text-align:center;
   }
   /* Product Page Styling */
   #Searcher {
    width:50%;
    margin:auto;
    background-color:#1b0e1e;
    outline:2px solid white;
    text-transform:uppercase;

   }
   .SortButtons {

    display:flex;
    justify-content: space-between;

   }
   #SortBtn {
   width:25%;
   border:1px solid white;
   color:white;
   

   }
   .Products {

    display:flex;

   }
   .ProductStyle {
    background-color:orange;
    width:400px;
    height:320px;
    margin-left:10px;


   }

/* Media Queries */

@media only screen and (max-width: 720px) {

    .LandingPage {
       width:50%;
        display:flex;
        justify-content: center;
       background-color:orange !important;

    }
    .LandingPhoto {
       display:none;
       
       
       }  
       #HeadBtn {
        color:white;
        padding:10px;
        border:1px solid white;
        
        left:147px;
        margin-top:20px;
    &:hover {
    
        text-decoration: underline;
    
    }
        

    
    }  
    .LandingPage :is(h1, h2, h3,h4) {

right:120px;
    }
    /* Top Content Media queries */

    .TopCon :is(h1, h2, h3, h4) {

        margin-top:70px;


    }
    #contentrow {

        flex-direction:column;

    }

    .TopBoxBG {
        display:flex;
       align-items:center;
       width:90%;
       flex-direction:column;
       font-size:0.4rem;
    }
    
    .TopBoxBG img {
    width:100%;
    height:100%;
    object-fit: cover;
    }
    .TopBoxBG p {
       font-size:17px;
        text-justify: inter-word;
        margin-top:0.9rem;
        word-wrap: break-word;
    }
      /* Mid Media Queries */
      .MidContent {

        display:flex;
        flex-direction: column;
        justify-content: center;
      }
      .TextContent {
    
        width:100%;
    
      }
      .TextContent p {
        color:white;
        font-family: "Cormorant Garamond", serif;
        font-weight: 400;
        font-style: normal;
        text-align: justify;
        color:white;
        text-justify: inter-word;
        margin-top:0.9rem;
        word-wrap: break-word;
    
      }
      .ImageContent {
    
        width:100%;
    
    
      }
      .ImageContent img {
        width:100%;
        
        position:relative;
        box-shadow:2px 2px 5px white;
      outline:1px solid white;
    
    
      }
      /* Home Products Queries */

      .Product {
        display:flex;
        align-items:center;
        width:90%;
        flex-direction:column;
        font-size:0.4rem;

      }
      .Product img {

        width:100%;
        margin-top:0.4rem;
      
      box-shadow:2px 2px 5px white;
      outline:1px solid white;

      }
      /* About Us Queries */

.Legacy {

    display:flex;
    flex-direction:column;

}
.LegacyContent {

display:block;

}
.Legacy h2 {
    
    text-align:center;

}

.Legacy p {
    width:100%;
   text-align:center;
    

}

      .AboutLogo {
        font-size:70px;
        letter-spacing:normal;
        text-align:initial;
        margin-top:10px;

      }
      #OwnerImg {
        width:17rem;
       height:17rem;

      }
      .OwnerText {

        width:100%;

      }
      /* Contact Us Queries */
      .ContactBG {
        word-wrap:break-word;
         background-color: #120914;
         box-shadow:5px 5px 10px fuchsia;
         margin-top:10px;
     }
     .Contact {
       width:50%;
       margin:auto;


     }
     
     #ProductBtn2 {
         margin-top:0.8rem;
         width:100%;
         border-radius:7px;
        background-color:blueviolet;
        box-shadow:3px 3px 10px fuchsia;
        border:none;
        color:white;
        text-align:center;


     }

   

     input[productadd] {
         
         width:100%;
         margin:auto;
         background-color:#1b0e1e;
         box-shadow:3px 3px 5px fuchsia;
         outline:2px solid fuchsia;
         margin-top:5px;
     
     }
     #ProductBtnAlph {
         margin-top:0.8rem;
         width:100%;
         border-radius:7px;
        background-color:blueviolet;
        box-shadow:3px 3px 10px fuchsia;
        border:none;
        color:white;
        text-align:center;

     }
     #ProductBtnTicket {
         margin-top:0.8rem;
         width:100%;
         border-radius:7px;
        background-color:blueviolet;
        box-shadow:3px 3px 10px fuchsia;
        border:none;
        color:white;
        text-align:center;
     
     }
     #Deleter {

         width:12%;
         font-size:10px;
        background-color:blueviolet;
        box-shadow:3px 3px 10px fuchsia;
        border:none;
        color:white;
        text-align:center;
       
     }

     #ProductBtnSub {
         margin-top:0.8rem;
         width:100%;
         border-radius:7px;
        background-color:blueviolet;
        box-shadow:3px 3px 10px fuchsia;
        border:none;
        color:white;
        text-align:center;
     }
     .Mobile {

         display:flex;
         flex-direction:column;
         width:100%;

     }
     .col-res {

         margin-top:20px;

     }
     .BtnCenter {
         display:flex;
         margin-top:0.1rem;
         justify-content: center;
         flex-direction:column;
         }
     .BGImg2 { 

         background-image:url("https://richtershotline.github.io/Pimages/Images/Payphone2.jpg");
         /* background-size: 100% auto;
         background-repeat: no-repeat; */
     background-size:center;
     background-position:center center;
     background-attachment:local;
     padding:2rem;
     }
#ContactForm {
    position:relative;
    right:50px;
    width:170px;
    display:block;
outline:none;
box-shadow:none;
}
::placeholder {

 font-size:0.1px;
}
.ForMobile {
width:100%;
display:flex;
flex-direction:column;
}
.ForMobile h3 {

font-size:12px;
}
     .ContactBG p {
       font-size:9px;
      
      }
      .ContactBG h3, h4 {
         font-size:9px;
        
        }
     #AboutImg {
         width:50%;
         height:auto;
         margin-left:0.4rem;
     }
     #TeamText {

         width:50%;
         font-size:9px;
         margin-left:9px;  
            
        }
     .BodConBG {
         display:flex;
        align-items:center;
        width:90%;
        flex-direction:column;
        font-size:0.4rem;
     }
     
     .BodConBG img {
     width:100%;
     height:100%;
     object-fit: cover;
     
     
       
     }
     #AboutText {
         width:100%;
             height:auto;
         margin:auto;
         }
     footer {


         bottom: 0;    
         background-color:black;
         opacity:0.7;
     height:auto;
     width: 100%;
     position: fixed;
     left: 0;
     text-align:center;
     
     
     
     }
     #VipBtn {
         width:100%;
         height:30%;
         border-radius:7px;
        margin:auto;
    
        border:1px solid white;
        color:white;
        margin-top:9px;
        text-align:center;
       
       }
     
     .BodCon p {
     
     text-align:center;
     
     }

     .BodConBG2 {
         display:flex;
         margin:auto;
      flex-direction:column;
         
      }
      .BodConBG2 img {
          width:100%;
          height:auto;
          margin-top:0.4rem;
        
        box-shadow:5px 5px 10px fuchsia;
        outline:2px solid fuchsia;
        }
        .BodConBG2 p {
          width:100%;
          margin:auto;
          text-align: justify;
          text-justify: inter-word;
          margin-top:0.9rem;
          word-wrap: break-word;
          padding:12px;
        
        }


    }


.container-fluid {



}
h1 {


}