/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Italianno&family=VT323&display=swap');

/* All Elements */
*,
*::before,
*::after {
margin:0;
padding: 0;
box-sizing:border-box;
background-color:black !important;
}

/* Navbar and Logo Styling */
.Logo {

    text-align:center;
    color:white;
    font-family: "Italianno", cursive;
  font-weight: 400;
  font-style: normal;
}

.nav a {

    color:white !important;

}
.nav-link {

    color:white !important;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;

}

/* Landing Page Styling */

.LandingPage {

    display:flex;
    justify-content: end;
    
}
.LandingPage :is(h1, h2, h3,h4) {
    position:relative;
    left:48px;
    z-index:9999;
text-align:center;
color:white;
margin-left:90px;
display:block;
font-family: "Cormorant Garamond", serif;
font-weight: 500;
font-style: normal;

}
.Headline {

background-color:orange;

}
#HeadBtn {

    color:white;
    padding:10px;
    border:1px solid white;
    position:relative;
    left:220px;
    margin-top:20px;
    z-index:9999;
&:hover {

    text-decoration: underline;

}

} 
.LandingPhoto {
 object-fit:cover;
    object-position:center;
    width:40.625rem;
    height:50rem;
    position:relative;


}
/* Top Content Styling */

h2 {

color:white !important;
text-align:center;
font-family:Arial, Helvetica, sans-serif;
font-weight: 700 !important;
font-style: normal;
}
h5 {

    color:white !important;
    text-align:center;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 700 !important;
    font-style: normal;
}
.TopBoxBG {
    width:25rem;
    margin:auto;

}
.TopBoxBG img {
    width:24.3rem;
    height:23rem;
    margin-top:0.4rem;
  
  box-shadow:2px 2px 5px white;
  outline:1px solid white;
  }
  .TopBoxBG p {
    width:90%;
    margin:auto;
    text-align: justify;
    color:white;
    text-justify: inter-word;
    margin-top:0.9rem;
    word-wrap: break-word;
    padding:12px;
    font-family: "Cormorant Garamond", serif;
    font-weight: 400;
    font-style: normal;
  }


  /* Mid Content Styling */

  .MidContent {

    display:flex;
    justify-content: center;
    align-items:center;
  }
  .TextContent {

    width:50%;

  }
  .TextContent p {
    color:white;
    font-family: "Cormorant Garamond", serif;
    font-weight: 400;
    font-style: normal;
  text-align:center;

  }
  .ImageContent {

    width:44%;


  }
  .ImageContent img {
    object-fit:cover;
    object-position:center;
    width:40.625rem;
    height:25rem;
    position:relative;
    box-shadow:2px 2px 5px white;
  outline:1px solid white;


  }
/* Media Queries */

@media only screen and (max-width: 720px) {

    .LandingPage {
       width:50%;
        display:flex;
        justify-content: center;
       background-color:orange !important;

    }
    .LandingPhoto {
       display:none;
       
       
       }  
       #HeadBtn {
        color:white;
        padding:10px;
        border:1px solid white;
        
        left:147px;
        margin-top:20px;
    &:hover {
    
        text-decoration: underline;
    
    }
        

    
    }  
    .LandingPage :is(h1, h2, h3,h4) {

right:120px;
    }
    /* Top Content Media queries */

    .TopCon :is(h1, h2, h3, h4) {

        margin-top:70px;


    }
    #contentrow {

        flex-direction:column;

    }

    .TopBoxBG {
        display:flex;
       align-items:center;
       width:90%;
       flex-direction:column;
       font-size:0.4rem;
    }
    
    .TopBoxBG img {
    width:100%;
    height:100%;
    object-fit: cover;
    }
    .TopBoxBG p {
       font-size:17px;
        text-justify: inter-word;
        margin-top:0.9rem;
        word-wrap: break-word;
    }
      /* Mid Media Queries */
      .MidContent {

        display:flex;
        flex-direction: column;
        justify-content: center;
      }
      .TextContent {
    
        width:100%;
    
      }
      .TextContent p {
        color:white;
        font-family: "Cormorant Garamond", serif;
        font-weight: 400;
        font-style: normal;
        text-align: justify;
        color:white;
        text-justify: inter-word;
        margin-top:0.9rem;
        word-wrap: break-word;
    
      }
      .ImageContent {
    
        width:100%;
    
    
      }
      .ImageContent img {
        width:100%;
        
        position:relative;
        box-shadow:2px 2px 5px white;
      outline:1px solid white;
    
    
      }
    }


.container-fluid {



}
h1 {


}